body { color: #333; }
.sidebar { font-size:12px; }
.credit { color:#777; font-size:11px;margin:0 auto;text-align:center;margin-bottom:50px;float:none; }
input, textarea { background:#fdfdfd; }
.main-box { margin:70px auto 10px auto;float:none; }
.clear { height:20px; }
.desc { line-height:20px;border:1px dashed #ccc;padding:10px; }
.cond { background:#eee;padding:10px; }